.navbar {
	border-radius: 0;

	.navbar-socials {

		> li  > a {
			&.navbar-socials__element {
				padding: 15px 5px;
				height: 20px;
			}
		}

		&__element {

			svg {
				width: 20px;
				height: 20px;

				* {
					fill: #7f8992;
					transition: fill 200ms ease-out;
				}
			}

			&._vk {
				&:hover {
					svg {
						* {
							fill: #4e7293;
						}
					}
				}
			}

			&._fb {
				&:hover {
					svg {
						* {
							fill: #4f6ba1;
						}
					}
				}
			}

			&._instagram {
				&:hover {
					svg {
						* {
							fill: #c1af97;
						}
					}
				}
			}
		}

	}

	@media (max-width: 768px) {
		.navbar-socials {
			> li {
				display: inline-block;

				&:nth-child(1) {
					> a {
						padding-left: 15px;
					}

				}
			}
		}
	}
}
