html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    color: #23527c;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.greeting {
    background: transparent url('../images/lines-of-code.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
}
.greeting::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.greeting h1,
.greeting h3,
.greeting .avatar {
    position: relative;
    z-index: 1;
}

.greeting .avatar {
    width: 30%;
    margin: 0 auto;
}

.greeting .avatar img {
    max-width: 100%;
    border-radius: 50%;
}

@media (max-width: 400px) {
    .greeting .avatar {
        width: 80%;
    }

    .greeting .avatar img {
        border-radius: 0;
    }
}

.hard-skills {
    background: #f9f9f9;

}

.hard-skills .tag {
    background: #ffffff;
}

.tag {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background: #f5f5f5;
    border: 1px solid #ececec;
    display: inline-block;
    margin: 10px 10px 10px 0;
}
.github-cards {
    padding: 0;
}
.github-cards li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 0;
}

.github-card {
    position: relative;
    width: 300px;
    border-radius: 5px;
    padding: 30px;
    border: 1px solid #ddd;
    text-align: left;
    background: #ffffff;
}
.github-card-title {
    font-size: 20px;
    font-weight: bold;
}
.github-card-description {
    padding-right: 70px;
}
.github-card-icon {
    position: absolute;
    top: 30px;
    right: 30px;
}
.github-card-icon svg {
    width: 40px;
    height: 40px;
}
.github-card-links {
    display: flex;
    justify-content: space-between;
}

.contacts {
    background-color: #EBE9E3;
}

.contacts .icon {
    vertical-align: middle;
}

.contacts .contact-link {
    color: #000000;
}

.experience {
    background: #F5F5F0;
}

.experience-element {
    margin: 40px 0;
    text-align: left;
}
.experience-element p {
    margin: 10px 0;
}
.experience-element-date {
    font-size: 12px;
    color: #777;
}
.experience-element-title {
    font-size: 20px;
    font-weight: bold;
}

.articles {
    background: #f9f9f9;
}

.article-element {
    text-align: left;
}
.article-element .icon,
.article-element .link {
    vertical-align: middle;
    display: inline-block;
}
.article-element .icon {
    margin-right: 10px;
}

.projects-see-more {
    margin-top: 20px;
}